<h1>Whoops! javiercueto.me has a bug!</h1>

<p>
  Try reloading, and if that doesn't work, maybe let the developer know?
  Reach him at jvrcueto@outlook.com,
  using the subject line 'Your portfolio site crashed, dude'.
</p>
